{% set navbar_brand = sonata_page_menu.bootstrap_options.navbar_brand %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-collapse" aria-expanded="false">
                <span class="sr-only">{{ navbar_brand.mobile_text|trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if navbar_brand.displayed %}
                <a class="navbar-brand" href="{% if navbar_brand.link_path != '#' %}{{ path(navbar_brand.link_path) }}{% else %}#{% endif %}">
                    {{ navbar_brand.title|raw }}
                </a>
            {% endif %}
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-menu-collapse">
            {{ knp_menu_render('main', {'currentClass': 'active', 'template': 'SkillbertoSonataPageMenuBundle:Menu:knp_bootstrap_menu.html.twig'}) }}
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
